<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
</head>
<body>
    <h1>Главная страница</h1>
    <form action="{{ url_for('add_text') }}" method="post">
        <textarea name="text" cols="80" rows="20"></textarea><br>
        <button type="submit">Сохранить</button>
    </form>
    <hr>
    <h2>Список текстов</h2>
    <ul>
        {% for text in texts %}
            <li>{{ text.text }}
                <form action="{{ url_for('delete_text', id=text.id) }}" method="post" >
                    <input type="submit" value="Удалить">
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
